@model UserManagement.Web.Models.Logging.LogEntryItem

<div>

	<p><strong>Id:</strong> @Model.Id</p>
	<p><strong>Level:</strong> @Model.Level</p>
	<p><strong>Operation:</strong> @Model.Operation</p>
	<p><strong>Message:</strong> @Model.Message</p>
	<p><strong>TimeStamp:</strong> @Model.TimeStamp</p>
	<p><strong>Xaml:</strong> @Model.Xaml</p>
</div>
